body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  background-image: url('./img/telephone.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}
img,
a {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}

/* Section react animation  */
/* .appear {
  transform: translateX(-100%);
}

.appearActive {
  transform: translateX(0);
  transition: all 500ms linear;
} */
.appear {
  transform: translateX(-100%);
}
.appear-enter {
  opacity: 0;
  transform: scale(0.9);
}
.appear-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.appear-exit {
  opacity: 1;
}
.appear-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
